.admin-homepage__container {
    padding: 1.5rem 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.home-page__items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 40px;
}

.admin-homepage__container .home-page__item {
    padding: 1rem 1.5rem;
    /* background-color: #390342; */
    background-image: linear-gradient(195deg,#AB47BC,#390342);

    color:rgb(252, 252, 252);
    border-radius: 18px;
    width: 20rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    box-shadow: -3px -3px 7px #dee0de,
    2px 2px 5px #d1d6d1;
    border: none;
}

.admin-homepage__container .Icon {
   
  color:rgb(252, 252, 252);
   
    border-radius: 15px;
   
  font-size:2.5rem;
  text-align: center;
}

.admin-homepage__container .home-page__item .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 25px;
}

.admin-homepage__container .home-page__item h1 {
    font-size: 4rem;
  
}
.admin-homepage__container .home-page__item h6 {
    font-size: 1.2rem;

    font-weight: bold;
}

.admin-homepage__container .table-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


.border-radius-lg {
    border-radius: 0.5rem;
}
.icon-lg {
    width: 64px;
    height: 64px;
}
.icon-shape {
    width: 48px;
    height: 478px;
    background-position: 50%;
    border-radius: 0.5rem;
}
.bg-gradient-primary {
    /* background-color: #390342; */
    background-image: linear-gradient(195deg,#390342,#AB47BC);
}
.text-center {
    text-align: center!important;
   
}
.shadow {
    box-shadow: 0 4px 6px -1px rgba(112, 109, 109, 0.664),0 2px 4px -1px rgba(97, 92, 92, 0.788)!important;
}

.icon-lg {
    height: 1.6em;
    width: 1.6em;
    /* padding-top: 13px; */
}


