
/*  */
.comment-item {
    position: relative;
    width: 20rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    justify-content: center;
    flex-direction: column;
    padding: 1rem 1.5rem;
    background-color: rgba(78, 0, 90, 0.259);
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px;

}

.delete-btn {
    position: absolute;
    top: 10px;
  
    float: right;
}


 .delete-btn :hover{

   font-size: 25px; 
}  
